table {
    thead th,
    tbody tr td {
      width: 100px;
      text-align: center;
    }
    tbody tr td {
      padding: 10px 10px;
      button {
        border-radius: 3px;
        border: none;
        padding: 5px 10px;
        background: rgb(235, 143, 143);
        color: white;
        cursor: pointer;
      }
    }
  }
  